<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l7 s12">
        <h5 class="white-text ">
          <b>Nextrillion Retail Private Limited</b>
        </h5>
        <p class="grey-text text-lighten-4">YOU ARE SMART, WE KNOW IT</p>
      </div>
      <div class="col l4 offset-l1 s12">
        <h5 class="white-text ">Connect with Us</h5>
        <ul>
          <li class="left">
            <a class="grey-text text-lighten-3" href="#!">
              <i class="material-icons left">email</i>admin@nearbyoff.com
            </a>
          </li>
          <li class="left" style="padding: 1%">
            <a class="grey-text text-lighten-3" href="#!">
              <i class="material-icons left">local_phone</i>+91-9760453939
            </a>
          </li>
          <li class="left" style="padding: 1%">
            <a class="grey-text text-lighten-3" href="#!">
              <i class="material-icons left">home</i>C-25, Sector-8, NOIDA
              201301
            </a>
          </li>
          <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Copyright Nextrillion
      <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</footer>
