<nav>
  <div class="nav-wrapper">
    <a href="#" class="sidenav-trigger" data-target="mobile-nav">
      <i class="material-icons">menu</i>
    </a>
    <form class="search-nearbyoff" action="" method="post" autocomplete="off">
      <div class="input-field" style="color:black">
        <input
          #searchBox
          id="search"
          type="search"
          name="search"
          (input)="search(searchBox.value)"
        />
        <label class="label-icon" for="search">
          <a routerLink="/search">
            <i id="icon-search" class="material-icons">search</i></a
          >
        </label>
        <i class="material-icons">close</i>
      </div>
    </form>
    <ul id="nav-mobile" class="container hide-on-med-and-down center">
      <li
        *ngFor="let mItem of mItems"
        style="width: 210px;font-family:  'Oswald', sans-serif;text-align: center"
        class="center"
      >
        <a routerLink="/category/{{ mItem.categoryID }}">
          <b>{{ mItem.name }}</b>
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-nav">
  <li>
    <ul class="collapsible collapsible-accordion">
      <li *ngFor="let mItem of mItems">
        <a class="collapsible-header"
          >{{ mItem.name
          }}<i class="material-icons right">arrow_drop_down</i></a
        >
        <div class="collapsible-body">
          <ul>
            <li *ngFor="let child of mItem.children">
              <a routerLink="/search">{{ child }}</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>
