.search-nearbyoff {
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .search-nearbyoff {
    display: block;
    margin-left: 6%;
    float: left;
  }
  .nav-wrapper form {
    margin: auto;
    width: 70%;
  }

  /* .nav-wrapper .input-field {
     padding-top: 3px; 
  } */

  .nav-wrapper form #search {
    height: 55px;
  }
  #icon-search {
    line-height: 59px;
  }
}

.nav-wrapper {
  background-color: #ff6363;
}
#logo {
  margin-left: 1%;
}
#nav-mobile {
  padding-left: 3.5%;
}
/* .nav-wrapper .input-field input[type="search"] {
  height: 64px;
}
.nav-wrapper input[type="search"]:focus {
  position: fixed;
  width: inherit;
  left: 0;
  right: 0;
} */
.input-field label {
  max-height: 64px;
}
.nav-wrapper input[type="search"]:focus ~ .label-icon.active {
  left: -10px;
  position: fixed;
}
.nav-wrapper input[type="search"]:focus ~ .closed {
  position: fixed;
  right: 10px;
}
