<nav>
  <div class="nav-wrapper">
    <a href="#" class="sidenav-trigger" data-target="mobile-nav">
      <i class="material-icons">menu</i>
    </a>
    <form class="search-nearbyoff" action="" method="post" autocomplete="off">
      <div class="input-field" style="color:black">
        <input
          #searchBox
          id="search"
          type="search"
          name="search"
          (input)="search(searchBox.value)"
        />
        <!---->
        <label class="label-icon" for="search">
          <a routerLink="/search">
            <i id="icon-search" class="material-icons">search</i></a
          >
        </label>
        <i class="material-icons">close</i>
      </div>
    </form>
    <!-- class="sidenav-trigger" action="" method="post" -->
    <!-- <div class="col s2">
        <form>
          <div class="input-field">
            <input id="search" type="search" required />
            <label class="label-icon" for="search"
              ><i class="material-icons">search</i></label
            >
            <i class="material-icons">close</i>
          </div>
        </form>
      </div> -->
    <ul id="nav-mobile" class="container hide-on-med-and-down center">
      <li
        *ngFor="let mItem of mItems"
        style="width: 210px;font-family:  'Oswald', sans-serif;text-align: center"
        class="center"
      >
        <a routerLink="/search">
          <b>{{ mItem.name }}</b>
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-nav">
  <li *ngFor="let mItem of mItems">
    <a routerLink="/search">{{ mItem.name }}</a>
  </li>
</ul>
