<div class="card">
  <div class="card-image">
    <img id="product-card-image" src="{{ cardContent.imageUrl }}" />
    <!-- <img
      id="product-card-image"
      [lazyLoad]="cardContent.imageUrl"
      [defaultImage]="mainLazyImage"
      [useSrcset]="true"
    /> -->
    <span class="discount-label">-5%</span>
    <span class="card-title gradient truncate"
      ><b>{{ cardContent.prductTitle }}</b></span
    >
  </div>
  <div class="card-content">
    <!-- <p id="headCard">{{ cardContent.description }}</p> -->
    <p id="op">
      <b>Price: </b>
      <s class="grey-text">₹ {{ cardContent.mrp }}</s>
      <b> ₹ {{ cardContent.minPrice }}</b>
    </p>

    <!-- <p>Discount: {{ cardContent.discount }} %</p> -->
    <div id="dist-stock" class="row " style="padding-left: 0px;margin-top: 5%">
      <div id="lim-stock" class="col s7 left grey-text">
        Limited Stock
      </div>
      <div id="dist-text" class="col s2 green-text">
        5KM
      </div>
      <div class="col s2 offset-s1">
        <img id="distance-image" src="../../assets/cirlceGreenWalk.png" />
      </div>
    </div>
  </div>
</div>
