nav {
  padding: 0 0px 0 0px;
  background-color: var(--primary);
}

nav .left {
  position: absolute;
  top: 0px;
  right: 0px;
}
.col.s3.center.row a {
  color: #839f0c !important;
}
.nav-wrapper form {
  margin: auto;
  width: 50%;
}

.nav-wrapper .input-field {
  padding-top: 7px;
}

.nav-wrapper form #search {
  height: 50px;
}

#cart-items-modal {
  max-height: 100%;
}

nav .left img {
  margin: 17px;
  height: 30px;
  width: 30px;
  border: 2px solid white;
  cursor: pointer;
}

nav .left .imgProfil a {
  height: 64px;
}

.hidden {
  display: none;
}
.dropdown-content.row {
  overflow: visible;
  width: 100%;
  font-family: "Oswald", sans-serif;
}
.verticalLine {
  border-left: thick solid #ff0000;
}
.col.l7.m7.s5 h5 {
  font-weight: bolder;
  margin-bottom: 0.8em;
}
#tiz {
  color: darkgreen !important;
  width: 100%;
}
#services-dropdown .col.s3 {
  height: 100%;
}
#services-dropdown {
  height: 22em;
}

.dropdown-content {
  left: 0em !important;
  width: 100% !important;
}
#services2-dropdown,
#services3-dropdown {
  width: 100%;
}
#sel-city-dropdown {
  width: 100%;
}
.vertical-tab-target {
  display: none;
}
.vertical-tabs {
  border-left: #839f0c;
  border-width: 2px;
  padding: 0 !important;
}
.vertical-tabs li a {
  color: black !important;
  width: 100%;
}
.col.s4 > .row {
  margin-bottom: 0.65em;
}
#mobile-options,
#dropdown-btn-profile-mobile,
#bt-sel-city-mobile {
  display: none;
}
.brand-logo {
  font-weight: 900;
}
.col.l5 img {
  max-width: 150px;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 480px) {
  #mobile-options,
  #dropdown-btn-profile-mobile,
  #bt-sel-city-mobile {
    display: block;
  }
  #dropdown-btn-profile-mobile img {
    margin-top: 25%;
    width: 100%;
    max-width: 35px;
    height: 100%;
  }
  nav {
    line-height: 30px;
  }
  h4 {
    font-size: 1.5em;
  }
  .card .card-content {
    padding: 10px;
  }
  p {
    font-size: 10px;
  }
  .col.s7 img {
    width: 100%;
  }
  .row {
    margin-bottom: 10px;
  }
  #btn-remove-cart-item {
    display: none;
  }
  .col.l7.m7.s5 h5 {
    font-weight: bolder;
    margin-bottom: 0.8em;
    font-size: 1em;
  }
  .col.s3 h5 {
    font-size: 1em;
  }
  .col.s4 > .row {
    margin-bottom: 0.12em;
  }
  .col.s2 h6 {
    font-size: 0.75em;
    margin: 0.7666666667rem 0 0.46rem 0.7rem;
  }
}
