<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Select City</h4>
    <label>Available Cities</label>
    <select
      required
      name="category"
      class="browser-default form-control"
      [(ngModel)]="category"
      id="select1"
      name="select1"
      (change)="selectChangeHandler($event)"
    >
      <option value="" disabled selected>Choose your option</option>
      <option value="Delhi">Delhi</option>
      <option value="Dehradun">Dehradun</option>
      <option value="Bangalore">Bangalore</option>
      <option value="Gurgaon">Gurgaon</option>
      <option value="Muzaffarnagar">Muzaffarnagar</option>
    </select>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">
      Select
    </a>
  </div>
</div>
<!-- (click)="saveCity($event)" -->
