<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Select City</h4>
    <label>Available Cities</label>
    <select class="browser-default" (change)="selectChangeHandler($event)">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Delhi</option>
      <option value="2">Bangalore</option>
      <option value="3">Chennai</option>
      <option value="4">Ahemdabad</option>
      <option value="5">Indore</option>
      <option value="6">Kolkata</option>
    </select>
  </div>
  <div class="modal-footer">
    <a
      href=""
      class=" modal-action modal-close waves-effect waves-green btn-flat"
      >Select
    </a>
  </div>
</div>
