#mz1.carousel {
  height: 300px;
}
#products-mob-apparel {
  display: none;
}
#carousel-flat {
  max-height: 100%;
  height: 300px;
}
#carousel-flat-item {
  max-height: 100%;
  width: 340px;
}
#mz1 .carousel-item {
  height: 287px;
  width: 294px;
}

#csliderDiv {
  padding-top: 3%;
  padding-right: 2%;
  padding-left: 2%;
}
#flat-card-slider {
  padding-bottom: 3%;
}
#apparel {
  border-bottom-width: 5px;
  text-align: center;
  /* padding-left: 40%; */
}
hr {
  width: 12%;
  height: 8px;
  border: none;
  background-color: black;
}
h5 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

/* Carousel Controls */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -moz-font-feature-settings: "liga"; */
  -moz-osx-font-smoothing: grayscale;
}

.middle-indicator {
  position: absolute;
  top: 20%;
  left: 40%;
}
.middle-indicator-text {
  font-size: 4.2rem;
}
a.middle-indicator-text {
  color: #b5dc10 !important;
}
.content-indicator {
  width: 64px;
  height: 64px;
  background: #ffffff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.indicators {
  visibility: hidden;
}
.card .card-title.hidden {
  text-indent: -9999px;
}
.card .card-image .card-badge {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 0.2em 24px 0.8em 24px;
  /* color: #fff; */
  z-index: 2;
}
.card .card-image .card-badge .material-icons {
  position: relative;
  margin-right: 8px;
  top: 7px;
}
.card .card-image .card-badge + .card-title {
  padding-bottom: 66px;
}
.card.horizontal .card-image .card-badge {
  text-align: center;
  padding: 0.2em 0;
}
.card.horizontal .card-image .card-badge .material-icons {
  display: none;
}

.card-action {
  white-space: nowrap;
}

.card .card-image .card-title.flow-text {
  font-size: inherit;
}
.card .card-image .card-title.gradient {
  padding-top: 64px;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  background: linear-gradient(
    to bottom,
    rgba(125, 185, 232, 0) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#cc000000',GradientType=0 );
}
#gradientCard {
  border-radius: 15px;
  overflow: hidden;
}
#leftDiv {
  margin-top: 10%;
}
#rightDiv {
  margin-top: 10%;
}
@media (min-width: 320px) and (max-width: 480px) {
  #mz1 {
    display: none;
  }
  #products-mob-apparel {
    display: block;
    padding-top: 8%;
  }
  hr {
    width: 10%;
    height: 6px;
    border: none;
    background-color: black;
  }
  h5 {
    font-family: "Oswald", sans-serif;
    font-size: 23px;
    font-weight: bolder;
    line-height: 10%;
    padding-bottom: 2%;
  }
  #leftDiv {
    margin-top: 10%;
  }
  #rightDiv {
    margin-top: 10%;
  }
  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -moz-font-feature-settings: "liga"; */
    -moz-osx-font-smoothing: grayscale;
  }
  i.right {
    margin-left: 4px;
  }
  #mz1.carousel {
    height: 360px;
  }
  #carousel-flat {
    max-height: 100%;
    height: 300px;
  }
  #carousel-flat-item {
    max-height: 100%;
    width: 340px;
  }
  #mz1 > .carousel-item {
    height: 287px;
    width: 195px;
  }

  #csliderDiv {
    padding-top: 3%;
    padding-right: 2%;
    padding-left: 2%;
  }
  #flat-card-slider {
    padding-bottom: 3%;
  }
  #apparel {
    border-bottom-width: 5px;
    text-align: center;
    /* padding-left: 40%; */
  }
  .btn.right.black {
    font-size: 9px;
    font-weight: bolder;
    height: 24px;
    line-height: 25px;
    padding: 0px 8px;
  }
  #leftDiv {
    display: none;
  }
  #rightDiv {
    display: none;
  }
  #products-mob-apparel .col {
    padding: 0.15rem;
  }
}
