<!--  -->
<div id="csliderDiv">
  <hr />
  <h5 id="apparel" class="center">Home Appliances</h5>
  <div class="row">
    <a class="btn right black" routerLink="/category/HOME">
      View All<i class="material-icons right" style="margin-top: 5%">
        arrow_forward
      </i>
    </a>
  </div>
  <div class="row">
    <div
      *ngFor="let subccategory of electronics2; let i = index; let last = last"
    >
      <a
        class="col l3 m3 s6"
        routerLink="/subcategory/{{ subccategory.subategoryId }}"
      >
        <app-sub-category-card [subCatContent]="subccategory">
        </app-sub-category-card>
      </a>
    </div>
  </div>
</div>
<div id="csliderDiv">
  <hr />
  <h5 class="center">Apparels</h5>
  <div class="row">
    <a class="btn right black" routerLink="/category/APPA">
      View All<i class="material-icons right" style="margin-top: 5%"
        >arrow_forward</i
      ></a
    >
  </div>
  <div class="row">
    <div *ngFor="let subccategory of apparels2; let i = index; let last = last">
      <a
        class="col l3 m3 s6"
        routerLink="/subcategory/{{ subccategory.subategoryId }}"
      >
        <app-sub-category-card
          [subCatContent]="subccategory"
        ></app-sub-category-card>
      </a>
    </div>
  </div>
</div>

<div id="csliderDiv">
  <hr />
  <h5 class="center">Grocery</h5>
  <div class="row">
    <a class="btn right black" routerLink="/category/GROC">
      View All<i class="material-icons right" style="margin-top: 5%"
        >arrow_forward</i
      ></a
    >
  </div>
  <div class="row">
    <div *ngFor="let subccategory of grocery2; let i = index; let last = last">
      <a
        class="col l3 m3 s6"
        routerLink="/subcategory/{{ subccategory.subategoryId }}"
      >
        <app-sub-category-card
          [subCatContent]="subccategory"
        ></app-sub-category-card>
      </a>
    </div>
  </div>
</div>

<div id="csliderDiv" class="">
  <hr />
  <h5 class="center">Decors</h5>
  <div class="row">
    <a class="btn right black" routerLink="/category/DECO">
      View All<i class="material-icons right" style="margin-top: 5%"
        >arrow_forward</i
      ></a
    >
  </div>
  <div class="row">
    <div *ngFor="let subccategory of decors2; let i = index; let last = last">
      <a
        class="col l3 m3 s6"
        routerLink="/subcategory/{{ subccategory.subategoryId }}"
      >
        <app-sub-category-card
          [subCatContent]="subccategory"
        ></app-sub-category-card>
      </a>
    </div>
  </div>
</div>
<!-- <div id="flat-card-slider" style="padding-bottom:7%;">
  <hr />
  <h5 class="center">Nearby Offers</h5>
  <a class="btn right black" routerLink="/search">
    View All<i class="material-icons right" style="margin-top: 5%"
      >arrow_forward</i
    ></a
  >
  <div class="carousel" id="carousel-flat">
    <div
      *ngFor="let itemz of products5"
      class="carousel-item"
      id="carousel-flat-item"
    >
      <div class="card" style="background-color: #839f0c">
        <div class="card-content white-text">
          <span
            class="card-title center"
            style="font-size: 27px; font-weight: bolder"
            >{{ itemz.title }}</span
          >
          <p>
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively.
          </p>
        </div>
        <div class="card-action center">
          <a href="resume/projects" style="font-size: 23px"
            >GET {{ itemz.discount }}% OFF</a
          >
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div style="padding-bottom:1%" id="cSliderDiv3">
  <hr />
  <h5 class="center">Trending Offers</h5>
  <div class="carousel" id="carousel-flat">
    <div
      *ngFor="let itemy of subCategories"
      class="carousel-item"
      id="carousel-flat-item"
    >
      <app-sub-category-card [subCatContent]="itemy"></app-sub-category-card>
    </div>
  </div>
</div> -->
