#productRow {
  padding: 3%;
}
#mob-recom-prods {
  display: none;
}
.font-bolder h5 {
  font-weight: bolder;
  color: darkblue;
}
#img-container {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: inherit;
  height: inherit;
}
.col.l5.m5.s6 > img {
  width: 100%;
  max-width: 170px;
}
#productImage {
  height: 400px;
  width: 400px;
  max-width: 100%;
  object-fit: cover;
  background-size: contain;
}
#also-buy-img {
  width: 225px;
  height: 270px;
  max-width: 100%;
}
.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ed7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}
.product-price {
  display: flex;
  align-items: center;
  padding: 5%;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  margin-right: 20px;
}
#span1 {
  color: #86939e;
}
agm-map {
  height: 483px;
}
h5 {
  padding-bottom: 4%;
}
hr {
  width: 10%;
  height: 6px;
  border: none;
  background-color: black;
}
.card .card-image .card-title.flow-text {
  font-size: inherit;
}
.card .card-image .card-title.gradient {
  padding-top: 64px;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  background: linear-gradient(
    to bottom,
    rgba(125, 185, 232, 0) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#cc000000',GradientType=0 );
}
#gradientCard {
  border-radius: 15px;
  overflow: hidden;
}
.carousel {
  height: 295px;
}
#recommCarousel {
  height: fit-content;
  width: fit-content;
  padding-bottom: 3%;
  object-fit: cover;
  background-size: contain;
}
#recommProductsSlider {
  height: 100%;
  padding-bottom: 8%;
  padding-top: 2%;
}
#productPageCarousel {
  padding-bottom: 2%;
  overflow: visible;
}
/* Ratings Thing */

.rate {
  float: left;
  height: 46px;
  /* padding: 30px; */
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
#modal-buyers {
  max-height: 100% !important;
  width: 90% !important;
}
div.explanation {
  width: 40%;
  background-color: #f0cc00;
  padding: 1rem;
  margin: 2rem auto;
  font-size: 120%;
}

#productSellerDetails {
  height: 505px;
  overflow: auto;
}
.dropdown-content.row {
  overflow: hidden;
  width: 40%;
  height: auto;
}
#bt-sellers,
#bt-add-to-cart,
#bt-order-now {
  width: 100%;
  font-size: 0.9em;
  font-family: inherit;
  padding: 0 15px;
  line-height: 20px;
}
#buy-options-row {
  margin-bottom: 0em;
}
#connect-col {
  padding-right: 0em;
}
#onow-col {
  padding: 0em;
}
#add-to-col {
  padding-left: 0em;
}
#mobile-buttons {
  display: none;
}
@media (min-width: 320px) and (max-width: 480px) {
  #mobile-buttons {
    display: block;
  }
  #modal-buyers.modal .modal-content {
    padding: 16px;
  }
  #productPageCarousel {
    display: none;
  }
  #mob-recom-prods {
    display: block;
  }
  #btn-view-all,
  #btn-checkout {
    display: none;
  }
  #also-buy-img {
    width: 125px;
    height: 145px;
    max-width: 100%;
  }
  #productImage {
    height: 300px;
    width: 300px;
    max-width: 100%;
    object-fit: cover;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-size: contain;
  }
  #mapcol {
    display: none;
  }
  #recom-prod-title {
    padding: 13px;
    font-size: 20px;
  }
  h4 {
    font-size: 2rem;
  }
  hr {
    width: 10%;
    height: 6px;
    border: none;
    background-color: black;
  }
  h5 {
    font-family: "Oswald", sans-serif;
    font-size: 23px;
    font-weight: bolder;
    line-height: 10%;
    padding-bottom: 6%;
  }
  .row {
    margin-bottom: 10px;
  }
  #cart-modal h5 {
    font-size: 1.3em;
  }
  #cart-modal p {
    font-size: 0.6em;
  }
  #cart-modal .col.s9 h5 {
    font-size: 0.9em;
  }
  #qty-cart {
    font-size: 0.8em;
    height: 1.5em;
  }
  .btn {
    font-size: 7px;
  }
  .input-field > label {
    font-size: 0.7em;
  }

  .rate {
    float: left;
    height: 46px;
    /* padding: 30px; */
  }
  .rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }
  .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    color: #ccc;
  }
  .rate:not(:checked) > label:before {
    content: "★ ";
  }
  .rate > input:checked ~ label {
    color: #ffc700;
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
}
