<div style="background-color: #f2f3f4 ;font-family:  'Oswald', sans-serif;">
  <app-menubar></app-menubar>
  <div class="container">
    <div id="productRow" class="row">
      <div id="img-container" class="col s12 m4 l5 card">
        <img
          class="materialboxed"
          id="productImage"
          src="{{ productM?.imageUrl }}"
        />
        <!--  [lazyLoad]="productM.imageUrl"  [defaultImage]="mainLazyImage" [useSrcset]="true"  -->
      </div>
      <div class="col s12 m4 l6" style="padding-left: 2.5%">
        <div class="row card">
          <div class="col s7">
            <h4>{{ productM?.productName }}</h4>
          </div>
          <div class="col s5" style="padding-top:6%;">
            <!-- <h6 class="blue-grey-text">
              <b class="black-text">Category:</b> Grocery
            </h6> -->
          </div>
          <div class="divider"></div>
        </div>
        <div class="row card">
          <div class="row" style="padding-top: 2%;margin-bottom: 3%">
            <div class="col s10 offset-s1">
              <h6><b>Product Description:</b></h6>
            </div>
          </div>
          <div class="row" style="margin-bottom: 3%">
            <div class="col s6 offset-s1">
              <div class="chip">
                Color
              </div>
              <div class="chip">
                Anything Else
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col s10 offset-s1"
              style="font-family: 'Roboto', sans-serif;"
            >
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </div>
          </div>

          <div class="row">
            <div class="col s7 offset-s1">
              <h5 id="span1">
                MRP: <s>₹{{ productAttr0?.productAttribute?.mrp }} </s>
              </h5>
              <h5>MSP: ₹{{ productM?.minPrice }}</h5>
            </div>
            <div class="col s2">
              <a
                id="social-dropdown"
                class=" btn-floating btn-large waves-effect waves-light  blue darken-4"
                ><i class="material-icons">share</i></a
              >
            </div>
            <div class="col s2" id="soc-share" style="display: none">
              <a
                class="btn btn-social-icon btn-facebook"
                shareButton="facebook"
              >
                <span class="fa fa-facebook"></span>
              </a>
              <a class="btn btn-social-icon green" shareButton="whatsapp">
                <span class="fa fa-whatsapp"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col s6" style="padding-left: 10%;padding-top: 1%">
              Top Seller: {{ (productAttr0?.productSellers)[0]?.sellerName }}
            </div>
          </div>
          <!-- <div class="row" style="margin-left:0.25em">
          <div class="col s5 ">
              <label>Color Select</label>
            <ngx-select-dropdown [config]="config" [options]="colorz" 
            [(ngModel)]="colors" [multiple]="true" ></ngx-select-dropdown>
            </div>
            <div class="col s5">
                <label>Size Select</label>
                <ngx-select-dropdown [config]="config" [options]="sizez" 
            [(ngModel)]="colors" [multiple]="true" ></ngx-select-dropdown>
              </div>
            </div> -->
          <div class="row" id="buy-options-row">
            <div class="col s4" id="connect-col">
              <button
                id="bt-sellers"
                class="btn btn-large center modal-trigger cyan darken-1"
                data-target="modal-buyers"
              >
                Explore +{{ numSellers[0] }} Shops
              </button>
            </div>
            <div class="col s4" id="onow-col">
              <button
                id="bt-order-now"
                class="btn btn-large center modal-trigger cyan darken-3"
                data-target="cart-modal"
              >
                Order Now
              </button>
            </div>
            <div class="col s4" id="add-to-col">
              <button
                id="bt-add-to-cart"
                class="btn btn-large center cyan darken-1"
                (click)="addProductToCart()"
              >
                Add to Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="recommProductsSlider">
    <hr />
    <h5 class="center">Recommended Products</h5>
    <div class="row" id="mob-recom-prods" style="padding-bottom: 20px">
      <div *ngIf="recommProds?.length > 0; else noProducts">
        <div
          *ngFor="let prod of recommProds; let i = index; let last = last"
          class="col l2 m2 s4"
          id="mob-col-recom"
        >
          <a
            routerLink="/subcategory/{{ prod.subCategoryId }}/{{
              prod.productId
            }}"
          >
            <app-card [cardContent]="prod"></app-card>
          </a>
        </div>
      </div>
      <ng-template #noProducts>
        <div class="container">
          <img
            class="col s6 offset-s3"
            src="../../../assets/image.png"
            style="width:auto;max-height: 17em"
          />
          <div class="col s3 center" style="padding-top: 10%">
            <h6 style="font-family: 'Courier New', Courier, monospace">
              Recommendations not Available
            </h6>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<div id="modal-buyers" class="modal">
  <div class="modal-content">
    <div class="modal-close right"><i class="material-icons">close</i></div>
    <!-- <div class="right"><a class="waves-effect waves-light btn green darken-2 modal-close">Done</a></div> -->
    <div class="row">
      <div
        id="mapcol"
        class="col s12 m4 l7 card"
        style="padding-top:1%;padding-bottom: 1%;margin-right: 2%"
      >
        <agm-map [latitude]="plat" [longitude]="plng" [zoom]="12">
          <div *ngIf="count === 1; else marker">
            <agm-direction
              *ngIf="dir"
              [origin]="dir.origin"
              [destination]="dir.destination"
              [renderOptions]="dir.renderOptions"
            >
            </agm-direction>
          </div>
          <ng-template #marker>
            <agm-marker
              *ngFor="let mark of markers"
              [latitude]="mark.lat"
              [longitude]="mark.lng"
              [agmFitBounds]="true"
            ></agm-marker>
          </ng-template>
        </agm-map>
      </div>
      <div class="card col s12 m4 l4" id="productSellerDetails">
        <table class="highlight">
          <thead></thead>
          <tbody>
            <tr
              [ngClass]="{
                'font-bolder': selectedSeller == attr.productSellerId
              }"
              (click)="selectSeller($event, attr)"
              *ngFor="let attr of productAttr0?.productSellers"
            >
              <td>
                <img
                  class="circle z-depth-1 responsive-img"
                  src="https://cdn3.iconfinder.com/data/icons/gradient-circle/36/2018-512.png"
                  alt="profile image"
                  style="width:65px"
                />
              </td>
              <td id="seller-name-td">
                <h5>
                  <a
                    style="overflow:hidden"
                    class="modal-close"
                    routerLink="/seller/{{ attr.sellerId }}"
                    >{{ attr.sellerName }}</a
                  >
                </h5>
                <p
                  style="color:grey;
                overflow: hidden;"
                >
                  {{ attr.sellerAddress }}
                </p>
                <star-rating
                  value="5"
                  checkedcolor="gold"
                  uncheckedcolor="grey"
                  size="24px"
                  readonly="false"
                  (rate)="onRate($event)"
                ></star-rating>
              </td>
              <td>
                <a
                  class="waves-effect modal-close waves-light btn green darken-4"
                  (click)="postLeads(attr, quantity.value)"
                  >Inquire</a
                >
                <!--  -->
                <!-- routerLink="/seller/{{ attr.sellerId }}" -->
                <a
                  class="waves-effect modal-trigger waves-light btn green modal-close"
                  data-target="cart-modal"
                  style="margin-top: 4%"
                  >Order Now</a
                >
                <!-- (click)="orderNow(quantity.value)" -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="cart-modal" class="modal" style="overflow: visible">
  <div class="modal-content">
    <div class="row">
      <div class="col s11">
        <h4>
          <i class="material-icons" style="color:green">done_all</i> Order
          Details
        </h4>
      </div>
      <div class="col s1" style="float:right">
        <i class="material-icons modal-close" style="color:black">clear</i>
      </div>
    </div>

    <div class="row">
      <div class="col l8 m8 s12">
        <div class="row">
          <div class="col l5 m5 s6">
            <div class="row">
              <div class="col s12">
                <img src="{{ productM?.imageUrl }}" />
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <h5
                  style="font-weight:bolder;display: inline;overflow: hidden;"
                >
                  {{ productM?.prductTitle }}
                </h5>
              </div>
            </div>
            <div class="row">
              <div class="col s5"><p>SIZE: 42</p></div>
              <div class="col s7"><p>COLOR: Grey</p></div>
            </div>
          </div>
          <div class="col l7 m7 s6">
            <div class="row">
              <div class="input-field col s3">
                <input
                  #quantity
                  id="qty-cart"
                  type="text"
                  [(ngModel)]="qty"
                  name="qty"
                  class="center"
                />
                <label id="qty-label" for="qty-cart">Quantity</label>
              </div>
              <div class="col s4">
                <h5>MSP: ₹{{ productM?.minPrice }}</h5>
              </div>
              <div class="col s4">
                <p>
                  <s class="grey-text"
                    >MRP: ₹{{ productAttr0?.productAttribute?.mrp }}</s
                  >
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <p>
                  You Save:
                  <b>
                    ₹{{
                      productAttr0?.productAttribute?.mrp - productM?.minPrice
                    }}
                  </b>
                </p>
              </div>
            </div>
            <div *ngIf="loggedIn == 1" class="row">
              <div class="col s4">
                <p style="font-weight:bolder">Customer Address:</p>
              </div>
              <div class="col s8" style="overflow: hidden">
                <p>GH-13, Paschim Vihar, New Delhi</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 m4 s12">
        <div class="row">
          <div class="col l8 m8 s12"><h5>Your Cart</h5></div>
        </div>
        <div class="row">
          <div class="col l6 m6 s7"><h6>Item Price</h6></div>
          <div class="col l5 m3 s4 offset-l1 offset-m1 offset-s1">
            <h6>₹{{ qty * productM?.minPrice }}</h6>
          </div>
          <div class="col l6 m6 s7" style="overflow: hidden">
            <h6>Delivery Charges</h6>
          </div>
          <div class="col l5 m3 s4 offset-l1 offset-m1 offset-s1">
            <h6>₹50</h6>
          </div>
        </div>
        <div class="row">
          <div class="col l6 m6 s7">
            <h6><b>Subtotal</b></h6>
          </div>
          <div class="col l5 m3 s4 offset-l1 offset-m1 offset-s1">
            <h6>₹{{ qty * productPricz + deliveryCharges }}</h6>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8">
            <select id="pymt-select">
              <!-- <option value="" disabled selected>Choose your option</option> -->
              <option value="COD" selected>COD</option>
            </select>
            <label>Payment Mode</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <a
              data-target="modal-inquire"
              id="btn-checkout"
              class="modal-close modal-trigger green waves-effect waves-light btn"
              style="width: 100%"
              >Checkout this Item</a
            >
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <a
              id="btn-view-all"
              (click)="viewAllCart()"
              class="black waves-effect waves-light btn modal-close"
              style="width: 100%"
              >View All Cart Items</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="mobile-buttons">
      <div class="col s6">
        <a
          class="modal-close moda-trigger green waves-effect waves-green btn"
          style="width: 100%"
          data-target="modal-inquire"
          >Checkout this Item</a
        >
      </div>
      <div class="col s6">
        <a
          (click)="viewAllCart()"
          class="black waves-effect waves-light btn"
          style="width: 100%"
          >View All Cart Items</a
        >
      </div>
    </div>
  </div>
</div>

<div id="modal-inquire" class="modal">
  <div *ngIf="formType === 1">
    <div class="modal-content">
      <h4>Enter Details</h4>
      <form #mainForm>
        <div class="row">
          <div class="input-field col s6">
            <input
              id="full_name"
              [(ngModel)]="userName"
              name="full Name"
              type="text"
              class="validate"
              value="Someien"
            />
            <label for="full_name">Full Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="address" type="text" class="validate" />
            <label for="address">Address</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input
              #otpTF
              id="phone_no"
              name="contact num"
              [(ngModel)]="contactNum"
              type="number"
              class="validate"
            />
            <label for="phone_no">Phone Number</label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a
        data-target="cart-modal"
        class="modal-close modal-trigger left waves-effect waves-green red btn-flat"
        >Back
      </a>
      <a
        (click)="changeForm(otpTF.value)"
        class="waves-effect waves-green green btn-flat"
        >Send OTP
      </a>
    </div>
  </div>
  <div *ngIf="formType === 2">
    <div class="modal-content">
      <h4>Verify OTP</h4>
      <form #verifyForm>
        <div class="row">
          <div class="col s6"><label>Phone:</label>otpTF.value</div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input #oneTime id="enter_otp" type="number" class="validate" />
            <label for="enter_otp">Enter OTP</label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a (click)="goBack()" class="left waves-effect waves-red red btn-flat"
        >Back
      </a>
      <a
        (click)="
          sendOTP(oneTime.value, otpMessage.Details, quantity.value);
          verifyForm.reset();
          mainForm.reset()
        "
        class="waves-effect waves-green green btn-flat"
        >Verify OTP
      </a>
    </div>
  </div>
  <div *ngIf="formType === 3">
    <div class="modal-content">
      <h4>Order Placed</h4>
      <div class="row">
        <div class="col l6 m6 s9">
          <img src="../../../assets/tick.gif" alt="" style="width:50vh" />
        </div>
        <div class="col l3 m3 s3">
          <div class="row">
            <div class="col s12">
              <a
                (click)="viewOrders()"
                class="modal-close black waves-effect waves-light btn"
                style="width: 100%;margin-top: 50%;"
                >View Orders
              </a>
            </div>
            <div class="col s12">
              <a
                id="btn-view-all"
                (click)="viewAllCart()"
                class="black waves-effect waves-light btn modal-close"
                style="width: 100%;margin-top: 10%"
                >View All Cart Items
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a
        (click)="rstOrder()"
        class="modal-close waves-effect waves-black btn-flat black"
        >Close
      </a>
    </div>
  </div>
</div>
