<div *ngIf="product; else second" style="background-color: #f2f3f4 ;font-family:  'Oswald', sans-serif;">
  <app-menubar></app-menubar>
  <div class="container">
    <div id="productRow" class="row">
      <div
        id="img-container"
        class="col s12 m4 l5 card"
      >
      <img class="materialboxed" [lazyLoad]="product.photoURL" id="productImage" [defaultImage]="mainLazyImage" [useSrcset]="true" />
      </div>
      <div class="col s12 m4 l6"  style="padding-left: 2.5%">
        <div class="row card" >
          <div class="col s7">
            <h4>{{ product.title }}</h4> 
          </div>
          <div class="col s5" style="padding-top:6%;">
            <h6 class="blue-grey-text"><b class="black-text">Category:</b> Grocery</h6>
          </div>
          <div class="divider"></div>
        </div>
        <div class="row card">
          <div class="row">
            <div class="col s10 offset-s1" style="padding-top: 2%">
              <h6><b>Product Description:</b></h6>
            </div>  
          </div>
          <div class="row">
        <div class="col s10 offset-s1" style="font-family: 'Roboto', sans-serif;">
            
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            
          </div>
        </div>
      
        <div class="row">
          <div class="col s3 offset-s2">
            <h5 id="span1">
              <s>₹{{ product.mrp }}</s>
            </h5>
          </div>
          <div class="col s3 center">
            <h5>₹{{ product.price }}</h5>
          </div>
          <div class="col s2">
            <a
              id="social-dropdown"
              class=" btn-floating btn-large waves-effect waves-light  blue darken-4"
              ><i class="material-icons">share</i></a
            >
          </div>
          <div class="col s2" id="soc-share" style="display: none">
           <a class="btn btn-social-icon btn-facebook" shareButton="facebook">
            <span class="fa fa-facebook"></span>
          </a>
           <a class="btn btn-social-icon green" shareButton="whatsapp">
            <span class="fa fa-whatsapp"></span>
          </a>
          </div> 
        </div>
        <div class="row">
          <div class="col s4" style="padding-left: 10%;padding-top: 1%">
            Seller: {{selectedSeller}}
          </div>
          <div class="col s4 ">
              <a id="color-btn" class="dropdown-trigger btn white black-text" data-target="color-dropdown">Color <i class="material-icons right">arrow_drop_down</i></a>
            </div>
            <div class="col s4">
                <a id="size-btn" class="dropdown-trigger btn white black-text" data-target="size-dropdown">Size <i class="material-icons right">arrow_drop_down</i></a>
              </div>
        </div>
        <div class="row" id="buy-options-row">
          <div class="col s4" id="connect-col">
        <button id="bt-sellers" class="btn btn-large center modal-trigger blue accent-3" data-target="modal-buyers">Connect to +3 shops</button></div>
      <div class="col s4" id="onow-col"><button id="bt-order-now" class="btn btn-large center modal-trigger purple accent-4" data-target="cart-modal">Order Now</button></div>
      <div class="col s4" id="add-to-col"><button id="bt-add-to-cart" class="btn btn-large center modal-trigger red accent-2" (click)="addProductToCart()">Add to Cart</button></div>
      </div>
      </div> 
    </div> 
    </div>
  </div>

  <div id="otherSellerscont">
    <div id="recommProductsSlider">
      <hr />
      <h5 class="center">Recommended Products</h5>
      <div class="carousel" id="productPageCarousel">
        <div class="carousel-item" id="recommCarousel">
          <div id="gradientCard" class="card">
            <div class="card-image">
              <img 
              id="also-buy-img" src="../../../assets/etautzembed.jpg" 
              />
              <span class="card-title gradient">Suits</span>
            </div>
          </div>
        </div>
        <div class="carousel-item" id="recommCarousel">
          <div id="gradientCard" class="card">
            <div class="card-image">
              <img
                id="also-buy-img" src="../../../assets/etautzembed1.jpg"
              />
              <span class="card-title gradient">Coats</span>
            </div>
          </div>
        </div>
        <div class="carousel-item" id="recommCarousel">
          <div id="gradientCard" class="card">
            <div class="card-image">
              <img
              id="also-buy-img" src="../../../assets/myargallery.jpg"
              />
              <span class="card-title gradient">Women Suits</span>
            </div>
          </div>
        </div>
        <div class="carousel-item" id="recommCarousel">
          <div id="gradientCard" class="card">
            <div class="card-image">
              <img
              id="also-buy-img" src="../../../assets/myargallery1.jpg"
              />
              <span class="card-title gradient">Jackets (Women)</span>
            </div>
          </div>
        </div>
        <div class="carousel-item" id="recommCarousel">
          <div id="gradientCard" class="card">
            <div class="card-image">
              <img
              id="also-buy-img" src="../../../assets/etautzembed.jpg"
              />
              <span class="card-title gradient">Outfits</span>
            </div>
          </div>
        </div>
        <div class="carousel-item" id="recommCarousel">
          <div id="gradientCard" class="card">
            <div class="card-image">
              <img
              id="also-buy-img" src="../../../assets/theorygallery.jpg"
              />
              <span class="card-title gradient">Formal Wear</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="mob-recom-prods">
        <div class="col s4" id="mob-col-recom">
          <div id="gradientCard" class="card">
            <div class="card-image">
              <img
              id="also-buy-img" src="../../../assets/theorygallery.jpg"
              />
              <span id="recom-prod-title" class="card-title gradient">Formal Wear</span>
            </div>
          </div>
        </div>
        <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
          <div class="card-image">
            <img
            id="also-buy-img" src="../../../assets/etautzembed.jpg"
            />
            <span id="recom-prod-title" class="card-title gradient">Outfits</span>
          </div>
        </div></div>
        <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
          <div class="card-image">
            <img
            id="also-buy-img" src="../../../assets/myargallery1.jpg"
            />
            <span id="recom-prod-title" class="card-title gradient">Jackets (Women)</span>
          </div>
        </div></div>
        <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
          <div class="card-image">
            <img 
            id="also-buy-img" src="../../../assets/myargallery.jpg" 
            />
            <span id="recom-prod-title" class="card-title gradient">Women Suits</span>
          </div>
        </div></div>
        <div class="col s4" id="mob-col-recom"> <div id="gradientCard" class="card">
          <div class="card-image">
            <img 
              id="also-buy-img" src="../../../assets/etautzembed1.jpg"
            />
            <span id="recom-prod-title" class="card-title gradient">Coats</span>
          </div>
        </div></div>
        <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
          <div class="card-image">
            <img 
            id="also-buy-img" src="../../../assets/myargallery.jpg" 
            />
            <span id="recom-prod-title" class="card-title gradient">Women Suits</span>
          </div>
        </div></div>
      </div>
    </div>
  </div>
</div>
<div id="modal-buyers" class="modal">
  <div class="modal-content">
      <!-- <div class="modal-close right"><i class="material-icons">close</i></div> -->
      <div class="right"><a class="waves-effect waves-light btn green darken-2 modal-close">Done</a></div>
    <div class="row">
      <div id="mapcol" class="col s12 m4 l7 card" style="padding-top:1%;padding-bottom: 1%;margin-right: 2%">
        <agm-map [latitude]="plat" [longitude]="plng" [zoom]="12">
          <div *ngIf="count === 1;else marker">
          <agm-direction
          *ngIf="dir"
          [origin]="dir.origin"
            [destination]="dir.destination"
            [renderOptions]="dir.renderOptions">
          </agm-direction>
        </div>
        <ng-template #marker>
          <agm-marker *ngFor="let mark of markers" [latitude]="mark.lat" [longitude]="mark.lng" [agmFitBounds]="true"></agm-marker>
        </ng-template>
        </agm-map>
      </div>
      <div class="card col s12 m4 l4" id="productSellerDetails">
        <table class="highlight">
          <thead>
          </thead>
          <tbody>
            <tr [ngClass]="{'font-bolder':selectedItem1==true}" (click)="selectDir()">
              <td>
                <img
                  class="circle z-depth-1 responsive-img"
                  src="https://cdn3.iconfinder.com/data/icons/gradient-circle/36/2018-512.png"
                  alt="profile image"
                  style="width:65px"
                />
              </td>
              <td>
                <h5>Seller1</h5>
                <p style="color:grey">5th Block, Kormangala</p>
                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
              </td>
              <td>
                <div *ngIf="product; else secpro">
                  <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp" >Connect</a>
                  <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product.productID }}/seller" style="margin-top: 4%">View Details</a>
              </div>
              <ng-template #secpro>
                <div *ngIf="product2; else thirdpro">
                  <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp"  >Connect</a>
                  <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product2.productID }}/seller" style="margin-top: 4%">View Details</a>
                  
                </div>
                </ng-template>
                <ng-template #thirdpro>
                    <div *ngIf="product3; else fourpro">
                      <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp">Connect</a>
                      <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product3.productID }}/seller" style="margin-top: 4%">View Details</a>
                      
                    </div>
                    </ng-template>
                    <ng-template #fourpro>
                        <div *ngIf="product4">
                          <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp"  >Connect</a>
                          <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product4.productID }}/seller" style="margin-top: 4%">View Details</a>
                          
                        </div>
                        </ng-template>
                  
              </td>
            </tr>
            <tr  [ngClass]="{'font-bolder':selectedItem2==true}" (click)="selectDir2()">
              <td>
                <img
                  class="circle z-depth-1 responsive-img"
                  src="https://cdn3.iconfinder.com/data/icons/gradient-circle/36/2018-512.png"
                  alt="profile image"
                  style="width:65px"
                />
              </td>
             <td>
                <h5>Seller2</h5>
                <p style="color:grey">8th Block, Kormangala</p>
                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
              </td>
             <td>
              <div *ngIf="product; else secpro">
                <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp" >Connect</a>
                <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product.productID }}/seller" style="margin-top: 4%">View Details</a>
                
            </div>
            <ng-template #secpro>
              <div *ngIf="product2; else thirdpro">
                <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp"  >Connect</a>
                <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product2.productID }}/seller" style="margin-top: 4%">View Details</a>
                
              </div>
              </ng-template>
              <ng-template #thirdpro>
                  <div *ngIf="product3; else fourpro">
                    <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp">Connect</a>
                    <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product3.productID }}/seller" style="margin-top: 4%">View Details</a>
                    
                  </div>
                  </ng-template>
                  <ng-template #fourpro>
                      <div *ngIf="product4">
                        <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp"  >Connect</a>
                        <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product4.productID }}/seller" style="margin-top: 4%">View Details</a>
                        
                      </div>
                      </ng-template>
              </td>
            </tr>
            <tr  [ngClass]="{'font-bolder':selectedItem3==true}" (click)="selectDir3()">
                <td>
                <img
                  class="circle z-depth-1 responsive-img"
                  src="https://cdn3.iconfinder.com/data/icons/gradient-circle/36/2018-512.png"
                  alt="profile image"
                  style="width:65px"
                />
              </td>
              <td>
                <h5>Seller3</h5>
                <p style="color:grey">6th Block, Kormangala</p>
                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
              </td>
              <td>
                <div *ngIf="product; else secpro">
                  <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp" >Connect</a>
                  <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product.productID }}/seller" style="margin-top: 4%">View Details</a>
                  
              </div>
              <ng-template #secpro>
                <div *ngIf="product2; else thirdpro">
                  <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp"  >Connect</a>
                  <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product2.productID }}/seller" style="margin-top: 4%">View Details</a>
                  
                </div>
                </ng-template>
                <ng-template #thirdpro>
                    <div *ngIf="product3; else fourpro">
                      <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp">Connect</a>
                      <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product3.productID }}/seller" style="margin-top: 4%">View Details</a>
                      
                    </div>
                    </ng-template>
                    <ng-template #fourpro>
                        <div *ngIf="product4">
                          <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp"  >Connect</a>
                          <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product4.productID }}/seller" style="margin-top: 4%">View Details</a>
                          
                        </div>
                        </ng-template>
              </td>
            </tr >
            <tr  [ngClass]="{'font-bolder':selectedItem4==true}" (click)="selectDir4()">
              <td>
                <img
                  class="circle z-depth-1 responsive-img"
                  src="https://cdn3.iconfinder.com/data/icons/gradient-circle/36/2018-512.png"
                  alt="profile image"
                  style="width:65px"
                />
              </td>
              <td>
                <h5>Seller4</h5>
                <p style="color:grey">6th Block, Kormangala</p>
                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
              </td>
              <td>
                <div *ngIf="product; else secpro">
                  <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp" >Connect</a>
                  <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product.productID }}/seller" style="margin-top: 4%">View Details</a>
                  
              </div>
              <ng-template #secpro>
                <div *ngIf="product2; else thirdpro">
                  <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp"  >Connect</a>
                  <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product2.productID }}/seller" style="margin-top: 4%">View Details</a>
                  
                </div>
                </ng-template>
                <ng-template #thirdpro>
                    <div *ngIf="product3; else fourpro">
                      <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp">Connect</a>
                      <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product3.productID }}/seller" style="margin-top: 4%">View Details</a>
                      
                    </div>
                    </ng-template>
                    <ng-template #fourpro>
                        <div *ngIf="product4">
                          <a class="waves-effect waves-light btn green darken-4 modal-trigger" data-target="modal-otp"  >Connect</a>
                          <a class="waves-effect waves-light btn green modal-close" routerLink="/product/{{ product4.productID }}/seller" style="margin-top: 4%">View Details</a>
                          
                        </div>
                        </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div id="cart-modal" class="modal" style="overflow: visible">
    <div class="modal-content">
      <div class="row">
        <div class="col s11">
          <h4>
            <i class="material-icons" style="color:green">done_all</i> Added to
            Cart
          </h4>
        </div>
        <div class="col s1" style="float:right">
          <i class="material-icons modal-close" style="color:black">clear</i>
        </div>
      </div>
  
      <div class="row">
        <div class="col l8 m8 s12">
          <div class="row">
            <div class="col l5 m5 s6">
              <img
                src="https://pbs.twimg.com/profile_images/846659478120366082/K-kZVvT8.jpg"
              />
            </div>
            <div class="col l7 m7 s6">
              <h5 style="font-weight:bolder ">Product Title</h5>
              <div class="row">
                <div class="col s5">
                  <p>SIZE: 42</p>
                </div>
                <div class="col s7">
                  <p>COLOR: Grey</p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s3">
                  <input
                    id="qty_cart"
                    type="text"
                    placeholder="Qty"
                    class="center"
                    value="2"
                  />
                  <label for="qty">Quantity</label>
                </div>
                <div class="col s9">
                  <div class="row" style="margin-bottom: 0%">
                    <div class="col s7 center"><h5>499</h5></div>
                    <div class="col s5">
                      <p><s class="grey-text">599</s></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12">
                      <p>You Save: <b> 900.00 (20%)</b></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l4 m4 s12">
          <div class="row">
            <div class="col l8 m8 s12"><h5>Your Cart</h5></div>
          </div>
          <div class="row">
            <div class="col l6 m6 s7"><h6>Subtotal</h6></div>
            <div class="col l3 m3 s4 offset-l1 offset-m1 offset-s1"><h6>900</h6></div>
          </div>
          <div class="row">
            <div class="col s12">
              <a id="btn-checkout" class="green waves-effect waves-light btn" style="width: 100%"
                >Checkout this Item</a
              >
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <a id="btn-view-all" class="black waves-effect waves-light btn" style="width: 100%"
                >View All Cart Items</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="mobile-buttons">
        <div class="col s6"><a class="green waves-effect waves-light btn" style="width: 100%"
          >Checkout this Item</a
        ></div>
        <div class="col s6"><a class="black waves-effect waves-light btn" style="width: 100%"
          >View All Cart Items</a
        ></div>
      </div>
    </div>
  </div>

  <ul id="color-dropdown" class='dropdown-content'>
      <li><a class="red-text" href=""><i class="material-icons red">fiber_manual_record</i>Red</a></li>
      <li><a class="green-text" href=""><i class="material-icons green">fiber_manual_record</i>Green</a></li>
      <li><a class="blue-text" href=""><i class="material-icons blue">fiber_manual_record</i>Blue</a></li>
  </ul>
  <ul id="size-dropdown" class="black-text dropdown-content">
      <li><a class="black-text" href="">S</a></li>
      <li><a class="black-text" href="">L</a></li>
      <li><a class="black-text" href="">M</a></li>
  </ul>
  <ul id="qty-dropdown" class="black-text dropdown-content">
      <li><a class="black-text" href="">1</a></li>
      <li><a class="black-text" href="">2</a></li>
      <li><a class="black-text" href="">3</a></li>
  </ul>
  <ul id="size-grocery-dropdown" class="black-text dropdown-content">
      <li><a class="black-text" href="">300g</a></li>
      <li><a class="black-text" href="">600g</a></li>
      <li><a class="black-text" href="">900g</a></li>
  </ul>

<div id="modal-otp" class="modal" >
    <div class="modal-content">
        <h4>Enter Phone</h4>
        <input #otpTF placeholder="Phone Num" id="first_name" type="text" class="validate">
      </div>
      <div class="modal-footer">
        <a (click)="getOTP(otpTF.value)" class="modal-close modal-trigger waves-effect waves-green btn-flat" data-target="modal-verify">Verify OTP</a>
      </div>  
</div>  

<div id="modal-verify" class="modal" >
    <div class="modal-content">
      <h4>Enter OTP</h4>
       <input #otpTFT placeholder="OTP" id="first_name" type="text" class="validate" style="width: 50%;">
    </div>
          <div class="modal-footer">
            <a (click)="sendOTP(otpTFT.value,otpMessage.Details)" data-target="verified-modal" class="modal-close modal-trigger waves-effect waves-green btn-flat">Submit</a>
          </div>
        </div>

    <div id="verified-modal" class="modal">
      <div class="modal-content">
        <p *ngIf="otpRecvMessage?.Details == 'OTP Matched'; else secondOtp">
                  OTP Matched
        </p>
      <ng-template #secondOtp>
                  <p>OTP Mismatched</p>
                </ng-template>
              </div>
              <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat">Close</a>
              </div>
            </div>


<ng-template #second>
  <div *ngIf="product2; else third" style="background-color: #f2f3f4 ;font-family:  'Oswald', sans-serif;">
    <app-menubar></app-menubar>
    <div class="container">
      <div id="productRow" class="row">
        <div
        id="img-container"
          class="col s12 m4 l5 card"
        >
        <img class="materialboxed" [lazyLoad]="product2.photoURL" id="productImage" [defaultImage]="mainLazyImage" [useSrcset]="true" />
        </div>
        <div class="col s12 m4 l6"  style="padding-left: 2.5%">
          <div class="row card" >
            <div class="col s7">
              <h4>{{ product2.title }}</h4> 
            </div>
            <div class="col s5" style="padding-top:6%;">
              <h6 class="blue-grey-text"><b class="black-text">Category:</b> Grocery</h6>
            </div>
            <div class="divider"></div>
          </div>
          <div class="row card">
            <div class="row">
              <div class="col s10 offset-s1" style="padding-top: 2%">
                <h6><b>Product Description:</b></h6>
              </div>  
            </div>
            <div class="row">
          <div class="col s10 offset-s1" style="font-family: 'Roboto', sans-serif;">
              
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur.
              
            </div>
          </div>
        
          <div class="row">
            <div class="col s3 offset-s2">
              <h5 id="span1">
                <s>₹{{ product2.mrp }}</s>
              </h5>
            </div>
            <div class="col s3 center">
              <h5>₹{{ product2.price }}</h5>
            </div>
            <div class="col s2">
              <a
                id="social-dropdown"
              data-target="services-social-dropdown"
                class=" dropdown-button btn-floating btn-large waves-effect waves-light  blue darken-4"
                ><i class="material-icons">share</i></a
              >
            </div>
            <div class="col s2" id="soc-share" style="display: none">
              <a class="btn btn-social-icon btn-facebook" shareButton="facebook">
               <span class="fa fa-facebook"></span>
             </a>
              <a class="btn btn-social-icon green" shareButton="whatsapp">
               <span class="fa fa-whatsapp"></span>
             </a>
             </div> 
          </div>
          <div class="row">
              <div class="col s4" style="padding-left: 10%;padding-top: 1%">
                  Seller: {{selectedSeller}}
                </div>
              <div class="col s4 ">
                  <a id="qty-btn" class="dropdown-trigger btn white black-text" data-target="qty-dropdown">Qty<i class="material-icons right">arrow_drop_down</i></a>
                </div>
            </div>
          <div class="row" id="buy-options-row">
              <div class="col s4" id="connect-col">
            <button id="bt-sellers" class="btn btn-large center modal-trigger blue accent-3" data-target="modal-buyers">Connect to +3 shops</button></div>
          <div class="col s4" id="onow-col"><button id="bt-order-now" class="btn btn-large center modal-trigger purple accent-4" data-target="cart-modal">Order Now</button></div>
          <div class="col s4" id="add-to-col"><button id="bt-add-to-cart" class="btn btn-large center modal-trigger red accent-2" (click)="addProductToCart()">Add to Cart</button></div>
          </div>
        </div> 
      </div> 
      </div>
    </div>
    <div id="otherSellerscont">
      <div id="recommProductsSlider">
        <hr />
        <h5 class="center">Recommended Products</h5>
        <div class="carousel" id="productPageCarousel">
          <div class="carousel-item" id="recommCarousel">
            <div id="gradientCard" class="card">
              <div class="card-image">
                <img 
                id="also-buy-img" src="../../../assets/etautzembed.jpg" 
                />
                <span class="card-title gradient">Suits</span>
              </div>
            </div>
          </div>
          <div class="carousel-item" id="recommCarousel">
            <div id="gradientCard" class="card">
              <div class="card-image">
                <img 
                  id="also-buy-img" src="../../../assets/etautzembed1.jpg"
                />
                <span class="card-title gradient">Coats</span>
              </div>
            </div>
          </div>
          <div class="carousel-item" id="recommCarousel">
            <div id="gradientCard" class="card">
              <div class="card-image">
                <img 
                id="also-buy-img" src="../../../assets/myargallery.jpg" 
                />
                <span class="card-title gradient">Women Suits</span>
              </div>
            </div>
          </div>
          <div class="carousel-item" id="recommCarousel">
            <div id="gradientCard" class="card">
              <div class="card-image">
                <img 
                id="also-buy-img" src="../../../assets/myargallery1.jpg" 
                />
                <span class="card-title gradient">Jackets (Women)</span>
              </div>
            </div>
          </div>
          <div class="carousel-item" id="recommCarousel">
            <div id="gradientCard" class="card">
              <div class="card-image">
                <img 
                id="also-buy-img" src="../../../assets/etautzembed.jpg"
                />
                <span class="card-title gradient">Outfits</span>
              </div>
            </div>
          </div>
          <div class="carousel-item" id="recommCarousel">
            <div id="gradientCard" class="card">
              <div class="card-image">
                <img 
                id="also-buy-img" src="../../../assets/theorygallery.jpg"
                />
                <span class="card-title gradient">Formal Wear</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="mob-recom-prods">
          <div class="col s4" id="mob-col-recom">
            <div id="gradientCard" class="card">
              <div class="card-image">
                <img 
                id="also-buy-img" src="../../../assets/theorygallery.jpg"
                />
                <span id="recom-prod-title" class="card-title gradient">Formal Wear</span>
              </div>
            </div>
          </div>
          <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
            <div class="card-image">
              <img 
              id="also-buy-img" src="../../../assets/etautzembed.jpg"
              />
              <span id="recom-prod-title" class="card-title gradient">Outfits</span>
            </div>
          </div></div>
          <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
            <div class="card-image">
              <img 
              id="also-buy-img" src="../../../assets/myargallery1.jpg" 
              />
              <span id="recom-prod-title" class="card-title gradient">Jackets (Women)</span>
            </div>
          </div></div>
          <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
            <div class="card-image">
              <img 
              id="also-buy-img" src="../../../assets/myargallery.jpg" 
              />
              <span id="recom-prod-title" class="card-title gradient">Women Suits</span>
            </div>
          </div></div>
          <div class="col s4" id="mob-col-recom"> <div id="gradientCard" class="card">
            <div class="card-image">
              <img 
                id="also-buy-img" src="../../../assets/etautzembed1.jpg"
              />
              <span id="recom-prod-title" class="card-title gradient">Coats</span>
            </div>
          </div></div>
          <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
            <div class="card-image">
              <img 
              id="also-buy-img" src="../../../assets/myargallery.jpg" 
              />
              <span id="recom-prod-title" class="card-title gradient">Women Suits</span>
            </div>
          </div></div>
        </div>
      </div>
    </div>
  </div>        
  </ng-template>
  <ng-template #third>
      <div *ngIf="product3; else fourth" style="background-color: #f2f3f4 ;font-family:  'Oswald', sans-serif;">
        <app-menubar></app-menubar>  
        <div class="container">
            <div id="productRow" class="row">
              <div
              id="img-container"
                class="col s12 m4 l5 card"
              >
              <img class="materialboxed" [lazyLoad]="product3.photoURL" id="productImage" [defaultImage]="mainLazyImage" [useSrcset]="true" />
              </div>
              <div class="col s12 m4 l6"  style="padding-left: 2.5%">
                <div class="row card" >
                  <div class="col s7">
                    <h4>{{ product3.title }}</h4> 
                  </div>
                  <div class="col s5" style="padding-top:6%;">
                    <h6 class="blue-grey-text"><b class="black-text">Category:</b> Grocery</h6>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="row card">
                  <div class="row">
                    <div class="col s10 offset-s1" style="padding-top: 2%">
                      <h6><b>Product Description:</b></h6>
                    </div>  
                  </div>
                  <div class="row">
                <div class="col s10 offset-s1" style="font-family: 'Roboto', sans-serif;">
                    
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                      enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat
                      nulla pariatur.
                    
                  </div>
                </div>
              
                <div class="row">
                  <div class="col s3 offset-s2">
                    <h5 id="span1">
                      <s>₹{{ product3.mrp }}</s>
                    </h5>
                  </div>
                  <div class="col s3 center">
                    <h5>₹{{ product3.price }}</h5>
                  </div>
                  <div class="col s2">
                    <a
                      id="social-dropdown"
                    data-target="services-social-dropdown"
                      class=" dropdown-button btn-floating btn-large waves-effect waves-light  blue darken-4"
                      ><i class="material-icons">share</i></a
                    >
                  </div>
                  <div class="col s2" id="soc-share" style="display: none">
                    <a class="btn btn-social-icon btn-facebook" shareButton="facebook">
                     <span class="fa fa-facebook"></span>
                   </a>
                    <a class="btn btn-social-icon green" shareButton="whatsapp">
                     <span class="fa fa-whatsapp"></span>
                   </a>
                   </div> 
                </div>
                <div class="row">
                    <div class="col s4" style="padding-left: 10%;padding-top: 1%">
                        Seller: {{selectedSeller}}
                      </div>
                    <div class="col s4 ">
                        <a id="qty-btn" class="dropdown-trigger btn white black-text" data-target="qty-dropdown">Qty<i class="material-icons right">arrow_drop_down</i></a>
                    </div>
                    <div class="col s4">
                        <a id="size-grocery-btn" class="dropdown-trigger btn white black-text" data-target="size-grocery-dropdown">Size<i class="material-icons right">arrow_drop_down</i></a>
                    </div>
                  </div>
                <div class="row" id="buy-options-row">
                    <div class="col s4" id="connect-col">
                  <button id="bt-sellers" class="btn btn-large center modal-trigger blue accent-3" data-target="modal-buyers">Connect to +3 shops</button></div>
                <div class="col s4" id="onow-col"><button id="bt-order-now" class="btn btn-large center modal-trigger purple accent-4" data-target="cart-modal">Order Now</button></div>
                <div class="col s4" id="add-to-col"><button id="bt-add-to-cart" class="btn btn-large center modal-trigger red accent-2" (click)="addProductToCart()">Add to Cart</button></div>
                </div>
              </div> 
            </div> 
            </div>
          </div>
          
          <div id="otherSellerscont">
            <div id="recommProductsSlider">
              <hr />
              <h5 class="center">Recommended Products</h5>
              <div class="carousel" id="productPageCarousel">
                <div class="carousel-item" id="recommCarousel">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                      id="also-buy-img" src="../../../assets/etautzembed.jpg" 
                      />
                      <span class="card-title gradient">Suits</span>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" id="recommCarousel">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                        id="also-buy-img" src="../../../assets/etautzembed1.jpg"
                      />
                      <span class="card-title gradient">Coats</span>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" id="recommCarousel">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                      id="also-buy-img" src="../../../assets/myargallery.jpg" 
                      />
                      <span class="card-title gradient">Women Suits</span>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" id="recommCarousel">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                      id="also-buy-img" src="../../../assets/myargallery1.jpg" 
                      />
                      <span class="card-title gradient">Jackets (Women)</span>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" id="recommCarousel">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                      id="also-buy-img" src="../../../assets/etautzembed.jpg"
                      />
                      <span class="card-title gradient">Outfits</span>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" id="recommCarousel">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                      id="also-buy-img" src="../../../assets/theorygallery.jpg"
                      />
                      <span class="card-title gradient">Formal Wear</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" id="mob-recom-prods">
                <div class="col s4" id="mob-col-recom">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                      id="also-buy-img" src="../../../assets/theorygallery.jpg"
                      />
                      <span id="recom-prod-title" class="card-title gradient">Formal Wear</span>
                    </div>
                  </div>
                </div>
                <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
                  <div class="card-image">
                    <img 
                    id="also-buy-img" src="../../../assets/etautzembed.jpg"
                    />
                    <span id="recom-prod-title" class="card-title gradient">Outfits</span>
                  </div>
                </div></div>
                <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
                  <div class="card-image">
                    <img 
                    id="also-buy-img" src="../../../assets/myargallery1.jpg" 
                    />
                    <span id="recom-prod-title" class="card-title gradient">Jackets (Women)</span>
                  </div>
                </div></div>
                <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
                  <div class="card-image">
                    <img 
                    id="also-buy-img" src="../../../assets/myargallery.jpg" 
                    />
                    <span id="recom-prod-title" class="card-title gradient">Women Suits</span>
                  </div>
                </div></div>
                <div class="col s4" id="mob-col-recom"> <div id="gradientCard" class="card">
                  <div class="card-image">
                    <img 
                      id="also-buy-img" src="../../../assets/etautzembed1.jpg"
                    />
                    <span id="recom-prod-title" class="card-title gradient">Coats</span>
                  </div>
                </div></div>
                <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
                  <div class="card-image">
                    <img 
                    id="also-buy-img" src="../../../assets/myargallery.jpg" 
                    />
                    <span id="recom-prod-title" class="card-title gradient">Women Suits</span>
                  </div>
                </div></div>
              </div>
            </div>
          </div>
        </div> 
  </ng-template>
  <ng-template #fourth>
      <div *ngIf="product4" style="background-color: #f2f3f4 ;font-family:  'Oswald', sans-serif;">
        <app-menubar></app-menubar>  
        <div class="container">
            <div id="productRow" class="row">
              <div
              id="img-container"  
              class="col s12 m4 l5 card"
              >
              <img class="materialboxed" [lazyLoad]="product4.photoURL" id="productImage" [defaultImage]="mainLazyImage" [useSrcset]="true" />
              </div>
              <div class="col s12 m4 l6"  style="padding-left: 2.5%">
                <div class="row card" >
                  <div class="col s7">
                    <h4>{{ product4.title }}</h4> 
                  </div>
                  <div class="col s5" style="padding-top:6%;">
                    <h6 class="blue-grey-text"><b class="black-text">Category:</b> Grocery</h6>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="row card">
                  <div class="row">
                    <div class="col s10 offset-s1" style="padding-top: 2%">
                      <h6><b>Product Description:</b></h6>
                    </div>  
                  </div>
                  <div class="row">
                <div class="col s10 offset-s1" style="font-family: 'Roboto', sans-serif;">
                    
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                      enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat
                      nulla pariatur.
                    
                  </div>
                </div>
              
                <div class="row">
                  <div class="col s3 offset-s2">
                    <h5 id="span1">
                      <s>₹{{ product4.mrp }}</s>
                    </h5>
                  </div>
                  <div class="col s3 center">
                    <h5>₹{{ product4.price }}</h5>
                  </div>
                  <div class="col s2">
                    <a
                      id="social-dropdown"
                    data-target="services-social-dropdown"
                      class=" dropdown-button btn-floating btn-large waves-effect waves-light  blue darken-4"
                      ><i class="material-icons">share</i></a
                    >
                  </div>
                  <div class="col s2" id="soc-share" style="display: none">
                    <a class="btn btn-social-icon btn-facebook" shareButton="facebook">
                     <span class="fa fa-facebook"></span>
                   </a>
                    <a class="btn btn-social-icon green" shareButton="whatsapp">
                     <span class="fa fa-whatsapp"></span>
                   </a>
                   </div> 
                </div>
                <div class="row">
                    <div class="col s4" style="padding-left: 10%;padding-top: 1%">
                        Seller: {{selectedSeller}}
                      </div>
                  <div class="col s4">
                     <a id="qty-btn" class="dropdown-trigger btn white black-text" data-target="qty-dropdown">Qty<i class="material-icons right">arrow_drop_down</i></a>
                  </div>
                  <div class="col s4">
                      <a id="color-btn" class="dropdown-trigger btn white black-text" data-target="color-dropdown">Color <i class="material-icons right">arrow_drop_down</i></a>
                    </div>
                </div>
                <div class="row" id="buy-options-row">
                    <div class="col s4" id="connect-col">
                  <button id="bt-sellers" class="btn btn-large center modal-trigger blue accent-3" data-target="modal-buyers">Connect to +3 shops</button></div>
                <div class="col s4" id="onow-col"><button id="bt-order-now" class="btn btn-large center modal-trigger purple accent-4" data-target="cart-modal">Order Now</button></div>
                <div class="col s4" id="add-to-col"><button id="bt-add-to-cart" class="btn btn-large center modal-trigger red accent-2" (click)="addProductToCart()">Add to Cart</button></div>
                </div>
              </div> 
            </div> 
            </div>
          </div>
          
          <div id="otherSellerscont">
            <div id="recommProductsSlider">
              <hr />
              <h5 class="center">Recommended Products</h5>
              <div class="carousel" id="productPageCarousel">
                <div class="carousel-item" id="recommCarousel">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                      id="also-buy-img" src="../../../assets/etautzembed.jpg" 
                      />
                      <span class="card-title gradient">Suits</span>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" id="recommCarousel">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                        id="also-buy-img" src="../../../assets/etautzembed1.jpg"
                      />
                      <span class="card-title gradient">Coats</span>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" id="recommCarousel">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                      id="also-buy-img" src="../../../assets/myargallery.jpg" 
                      />
                      <span class="card-title gradient">Women Suits</span>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" id="recommCarousel">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                      id="also-buy-img" src="../../../assets/myargallery1.jpg" 
                      />
                      <span class="card-title gradient">Jackets (Women)</span>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" id="recommCarousel">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                      id="also-buy-img" src="../../../assets/etautzembed.jpg"
                      />
                      <span class="card-title gradient">Outfits</span>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" id="recommCarousel">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                      id="also-buy-img" src="../../../assets/theorygallery.jpg"
                      />
                      <span class="card-title gradient">Formal Wear</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" id="mob-recom-prods">
                <div class="col s4" id="mob-col-recom">
                  <div id="gradientCard" class="card">
                    <div class="card-image">
                      <img 
                      id="also-buy-img" src="../../../assets/theorygallery.jpg"
                      />
                      <span id="recom-prod-title" class="card-title gradient">Formal Wear</span>
                    </div>
                  </div>
                </div>
                <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
                  <div class="card-image">
                    <img 
                    id="also-buy-img" src="../../../assets/etautzembed.jpg"
                    />
                    <span id="recom-prod-title" class="card-title gradient">Outfits</span>
                  </div>
                </div></div>
                <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
                  <div class="card-image">
                    <img 
                    id="also-buy-img" src="../../../assets/myargallery1.jpg" 
                    />
                    <span id="recom-prod-title" class="card-title gradient">Jackets (Women)</span>
                  </div>
                </div></div>
                <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
                  <div class="card-image">
                    <img 
                    id="also-buy-img" src="../../../assets/myargallery.jpg" 
                    />
                    <span id="recom-prod-title" class="card-title gradient">Women Suits</span>
                  </div>
                </div></div>
                <div class="col s4" id="mob-col-recom"> <div id="gradientCard" class="card">
                  <div class="card-image">
                    <img 
                      id="also-buy-img" src="../../../assets/etautzembed1.jpg"
                    />
                    <span id="recom-prod-title" class="card-title gradient">Coats</span>
                  </div>
                </div></div>
                <div class="col s4" id="mob-col-recom"><div id="gradientCard" class="card">
                  <div class="card-image">
                    <img 
                    id="also-buy-img" src="../../../assets/myargallery.jpg" 
                    />
                    <span id="recom-prod-title" class="card-title gradient">Women Suits</span>
                  </div>
                </div></div>
              </div>
            </div>
          </div>
        </div> 
  </ng-template>
