<app-menubar></app-menubar>
<div class="container">
  <h5>Apparel > Jeans</h5>
  <div class="row">
    <div class="col s4">
      <app-sub-category-card
        [subCatContent]="subCatContent1"
      ></app-sub-category-card>
    </div>
    <div class="col s4">
      <app-sub-category-card
        [subCatContent]="subCatContent1"
      ></app-sub-category-card>
    </div>
    <div class="col s4">
      <app-sub-category-card
        [subCatContent]="subCatContent1"
      ></app-sub-category-card>
    </div>
  </div>
  <div *ngIf="products" class="row">
    <app-sub-category-card
      [subCatContent]="subCatContent1"
    ></app-sub-category-card>
    <div *ngFor="let product of products" class="col s4 m4 l3">
      <a
        routerLink="/subcategory/{{ product.subCategoryId }}/{{
          product.productId
        }}"
      >
        <app-card [cardContent]="product"></app-card>
      </a>
    </div>
  </div>
  <div *ngIf="subCategories" class="row">
    <app-sub-category-card
      [subCatContent]="subCatContent1"
    ></app-sub-category-card>
    <div *ngFor="let subCategory of subCategories" class="col s6 m6 l4">
      <a routerLink="/subcategory/{{ subCategory.subategoryId }}">
        <app-sub-category-card
          [subCatContent]="subCategory"
        ></app-sub-category-card>
      </a>
    </div>
  </div>
  <!-- <ul class="center pagination">
    <li class="disabled ">
      <a href="#!"><i class="material-icons">chevron_left</i></a>
    </li>
    <li class="active grey"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect">
      <a href="#!"><i class="material-icons">chevron_right</i></a>
    </li>
  </ul> -->
</div>
