#grid-container {
  min-height: calc(100vh);
  padding-top: 3em;
  /* background-color: white; */
}
#grid-container .row {
  margin-bottom: 0%;
}
h5 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 5%;
  margin-top: 5%;
}
.pagination {
  margin-bottom: 5%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .row .col {
    padding: 0 0.3em;
  }
  h5 {
    font-size: 20px;
  }
}
