.rate {
  /* float: center; */
  /* height: 46px; */
  display: inline;
  padding-top: 1%;
  /* padding: 30px; */
}
.card {
  padding: 1em;
}
ng5-slider .ng5-slider .ng5-slider-pointer {
  width: 1.5em;
  height: 1.5em;
  top: -0.5em;
}
ng5-slider .ng5-slider .ng5-slider-pointer:after ng5-slider-pointer:after {
  width: 1.5em;
  height: 1.5em;
  top: 0.5em;
  left: 0.5em;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
#srch-img {
  width: 150px;
  height: 150px;
}
#mob-srch-rslt {
  display: none;
}
#bt-pre-book {
  height: 54px;
  line-height: 27px;
  font-size: 12px;
  font-weight: bolder;
  padding: 0 14px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
#mainColl {
  display: none;
}
@media (min-width: 320px) and (max-width: 480px) {
  #mainColl {
    display: block;
  }
  #mainColl .collapsible-body {
    padding: 0rem 1rem;
    background-color: white;
  }
  .row .col.s9 {
    width: 90%;
  }
  #bt-pre-book {
    height: 35px;
    line-height: 18px;
    font-size: 9px;
    font-weight: bolder;
  }
  #mob-srch-rslt {
    display: block;
  }
}
