<app-menubar></app-menubar>
<div style="background-color: lightgrey">
  <div class="row">
    <ul id="mainColl" class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">filter_list</i>Filters<i
            class="material-icons align-right"
            >keyboard_arrow_down
          </i>
        </div>
        <div class="collapsible-body">
          <ul id="subColl" class="collapsible">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">place</i>Category<i
                  class="material-icons align-right"
                  >keyboard_arrow_down
                </i>
              </div>
              <div class="collapsible-body">
                <span>
                  <div class="cateogory-filter">
                    <p><b>Category</b></p>
                    <p>
                      <label>
                        <input
                          name="group1"
                          class="with-gap"
                          [(ngModel)]="category"
                          value="Apparel"
                          type="radio"
                          [checked]="true"
                          (change)="onItemChange()"
                        />
                        <span>Apparel</span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input
                          class="with-gap"
                          name="group1"
                          [(ngModel)]="category"
                          value="Home Appliances"
                          type="radio"
                          (change)="onItemChange()"
                        />
                        <span>Home Appliances</span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input
                          class="with-gap"
                          name="group1"
                          [(ngModel)]="category"
                          value="Grocery"
                          type="radio"
                          (change)="onItemChange()"
                        />
                        <span>Grocery</span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input
                          class="with-gap"
                          name="group1"
                          [(ngModel)]="category"
                          value="Decor"
                          type="radio"
                          (change)="onItemChange()"
                        />
                        <span>Decor</span>
                      </label>
                    </p>
                  </div>
                </span>
              </div>
            </li>
            <!-- <li>
              <div class="collapsible-header">
                <i class="material-icons">place</i>Location<i
                  class="material-icons align-right"
                  >keyboard_arrow_down
                </i>
              </div>
              <div class="collapsible-body">
                <span
                  ><input
                    id="location"
                    type="text"
                    class="validate"
                    placeholder="e.g. HSR Layout"
                    style="padding-top: 5%;margin-bottom: 5%; height:1rem;margin-left: 3%; margin-right: 10%"
                /></span>
              </div>
            </li> -->
            <!-- <li>
              <div class="collapsible-header">
                <i class="material-icons">directions_car</i>Distance/Speed<i
                  class="material-icons align-right"
                  >keyboard_arrow_down
                </i>
              </div>
              <div class="collapsible-body">
                <span>
                  <p>
                    <label>
                      <input
                        name="group1"
                        class="with-gap"
                        type="radio"
                        checked
                      />
                      <span>Any</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input class="with-gap" name="group1" type="radio" />
                      <span>Within 15 mins</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input class="with-gap" name="group1" type="radio" />
                      <span>Within 30 mins</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input class="with-gap" name="group1" type="radio" />
                      <span>Within 60 mins</span>
                    </label>
                  </p></span
                >
              </div>
            </li> -->
            <li>
              <div class="collapsible-header">
                <i class="material-icons">money</i>Price<i
                  class="material-icons align-right"
                  >keyboard_arrow_down
                </i>
              </div>
              <div class="collapsible-body">
                <span style="margin-top: 5%"
                  ><ng5-slider
                    [(value)]="value"
                    [options]="options"
                  ></ng5-slider>
                  <!-- <p>
                    <label>
                      <input
                        name="group1"
                        class="with-gap"
                        type="radio"
                        checked
                      />
                      <span>Any</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input
                        class="with-gap"
                        name="group1"
                        type="radio"
                        style="padding-left: 2%"
                      />
                      <span
                        class="row"
                        style="margin-left:0% ;margin-bottom:0px"
                      >
                        <div class="col s4" style="margin-left:-3%">
                          <input
                            id="location"
                            type="text"
                            class="validate"
                            placeholder="Min"
                            style="margin-bottom: 5%; height:1rem;margin-left: 3%;"
                          />
                        </div>
                        <div
                          class="col s1"
                          style="padding-left: 0px;padding-right:0px;"
                        >
                          to
                        </div>
                        <div class="col s4">
                          <input
                            id="location"
                            type="text"
                            class="validate"
                            placeholder="Max"
                            style="margin-bottom: 5%; height:1rem;margin-left: 3%;"
                          />
                        </div>
                        <div
                          class="col s2"
                          style="padding-left:0px;padding-right: 0px"
                        >
                          <a
                            class="btn btn-small"
                            style="padding-left:10px;padding-right:10px"
                            >Go</a
                          >
                        </div>
                      </span>
                    </label>
                  </p> -->
                </span>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="row" style="margin-bottom: 0%">
      <div
        class="col s3 hide-on-med-and-down"
        style="font-size: 15px;color: grey;"
      >
        <div
          class="card"
          style="padding-top: 6%;padding-left: 5%;padding-right: 6%;padding-bottom: 8%"
        >
          <div class="clear-all" style="text-align: center;font-weight: bolder">
            <a routerLink=""><p>Clear all filters</p></a>
          </div>
          <!-- <div class="location-filter">
            <p><b>Your Location</b></p>
            <input
              id="location"
              type="text"
              class="validate"
              placeholder="e.g. HSR Layout"
              style="margin-bottom: 5%; height:1rem;margin-left: 3%; margin-right: 10%"
            />
          </div> -->
          <!-- <div class="location-filter">
            <p><b>Distance/Speed</b></p>
            <p>
              <label>
                <input name="group1" class="with-gap" type="radio" checked />
                <span>Any</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap" name="group1" type="radio" />
                <span>Within 15 mins</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap" name="group1" type="radio" />
                <span>Within 30 mins</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap" name="group1" type="radio" />
                <span>Within 60 mins</span>
              </label>
            </p>
          </div> -->
          <div class="price-filter">
            <p><b>Price</b></p>
            <!-- <p>
              <label>
                <input name="group1" class="with-gap" type="radio" checked />
                <span>Any</span>
              </label>
            </p>
            <p>
              <label>
                <input
                  class="with-gap"
                  name="group1"
                  type="radio"
                  style="padding-left: 2%"
                />
                <span class="row" style="margin-left:0% ;margin-bottom:0px">
                  <div class="col s4" style="margin-left:-3%">
                    <input
                      id="location"
                      type="text"
                      class="validate"
                      placeholder="e.g. HSR Layout"
                      style="margin-bottom: 5%; height:1rem;margin-left: 3%;"
                    />
                  </div>
                  <div
                    class="col s1"
                    style="padding-left: 0px;padding-right:0px;"
                  >
                    to
                  </div>
                  <div class="col s4">
                    <input
                      id="location"
                      type="text"
                      class="validate"
                      placeholder="e.g. HSR Layout"
                      style="margin-bottom: 5%; height:1rem;margin-left: 3%;"
                    />
                  </div>
                  <div
                    class="col s2"
                    style="padding-left:0px;padding-right: 0px"
                  >
                    <a
                      class="btn btn-small"
                      style="padding-left:10px;padding-right:10px"
                      >Go</a
                    >
                  </div>
                </span>
              </label>
            </p> -->
            <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
          </div>
          <div class="cateogory-filter">
            <p><b>Category</b></p>
            <p>
              <label>
                <input
                  name="group1"
                  class="with-gap"
                  [(ngModel)]="category"
                  value="Apparel"
                  type="radio"
                  [checked]="true"
                  (change)="onItemChange()"
                />
                <span>Apparel</span>
              </label>
            </p>
            <p>
              <label>
                <input
                  class="with-gap"
                  name="group1"
                  [(ngModel)]="category"
                  value="Home Appliances"
                  type="radio"
                  (change)="onItemChange()"
                />
                <span>Home Appliances</span>
              </label>
            </p>
            <p>
              <label>
                <input
                  class="with-gap"
                  name="group1"
                  [(ngModel)]="category"
                  value="Grocery"
                  type="radio"
                  (change)="onItemChange()"
                />
                <span>Grocery</span>
              </label>
            </p>
            <p>
              <label>
                <input
                  class="with-gap"
                  name="group1"
                  [(ngModel)]="category"
                  value="Decor"
                  type="radio"
                  (change)="onItemChange()"
                />
                <span>Decor</span>
              </label>
            </p>
          </div>
          <div class="sub-category-filter">
            <p><b>Sub-Category</b></p>
            <p *ngFor="let subCat of subcategory">
              <label>
                <input name="group1" class="with-gap" type="radio" checked />
                <span>{{ subCat }}</span>
              </label>
            </p>
          </div>
        </div>
      </div>
      <div class="col s9 hide-on-med-and-down">
        <div *ngFor="let product of searchRes" class="card">
          <div class="row">
            <div class="col s3" style="padding-top:1.5%">
              <img
                class="materialboxed"
                id="srch-img"
                src="{{ product.imageUrl }}"
              />
            </div>
            <div class="col s4">
              <h4>
                <b>{{ product.productName }}</b>
              </h4>
              <p style="color:grey">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore
              </p>
            </div>
            <div class="col s3" style="padding-top: 3%">
              <h6><b>Category: Apparel</b></h6>
              <app-rating></app-rating>
            </div>
            <div class="col s2" style="padding-top:5%;">
              <a
                id="bt-pre-book"
                class="btn btn-large"
                routerLink="/subcategory/{{ product.subCategoryId }}/{{
                  product.productId
                }}"
                >View Details</a
              ><br />
              <!-- <div class="row" style="padding-top: 10%">
                  <div
                    class="col s2 offset-s2"
                    style="margin-top:4%;margin-right:1%"
                  >
                    <b>5KM</b>
                  </div>
                  <div class="col s4 offset-s1">
                    <img
                      src="../../assets/cirlceGreenWalk.png"
                      width="30"
                      height="30"
                    />
                  </div>
                </div> -->
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let product of searchRes" class="card" id="mob-srch-rslt">
        <div class="row">
          <div class="col s3" style="padding-top:1.5%">
            <img
              class="materialboxed"
              src="{{ product.imageUrl }}"
              height="100"
              width="90"
            />
          </div>
          <div class="col s6" style="padding-left: 10%">
            <h5>
              <b>{{ product.productName }}</b>
            </h5>
            <div class="row">
              <div class="col s10" style="padding-left: 10%">
                <p style="font-size: 12px"><b>Category:</b> Apparel</p>
              </div>
            </div>
          </div>
          <div class="col s3" style="padding-top: 4%">
            <a
              id="bt-pre-book"
              class="btn"
              routerLink="/subcategory/{{ product.subCategoryId }}/{{
                product.productId
              }}"
              >View Details</a
            >
            <!-- <div class="row" style="margin-top:25%">
              <div class="col s2 ">
                <img
                  src="../../assets/cirlceGreenWalk.png"
                  width="20"
                  height="20"
                />
              </div>
              <div class="col s2"><b>5KM</b></div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <ul
      class="pagination center"
      style="margin-top: 5%; padding-bottom: 14%;margin-bottom: 0%"
    >
      <li class="disabled">
        <a href="#!"><i class="material-icons">chevron_left</i></a>
      </li>
      <li class="active grey darken-2"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect">
        <a href="#!"><i class="material-icons">chevron_right</i></a>
      </li>
    </ul> -->
  </div>
</div>
