<section
  id="recent-add-norm"
  class="container"
  style="margin-top:5%; margin-bottom: 8%"
>
  <div class="row">
    <hr />
    <h5 class="center">Recently Added Sellers</h5>

    <div class="col s12 m4 l4" *ngFor="let seller of recentVendors">
      <div class="card">
        <div class="card-image">
          <img
            [lazyLoad]="'../../assets/openResto.jpg'"
            [defaultImage]="mainLazyImage"
            [useSrcset]="true"
          /><span class="card-badge green"
            ><i class="material-icons">school</i>New!!</span
          >
          <span class="card-title">{{ seller.sellerName }}</span>
        </div>
        <!-- <div class="card-content">
          <p>
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively.
          </p>
        </div> -->
        <div class="card-action">
          <button
            class="btn waves-effect waves-light black"
            type="submit"
            name="action"
            routerLink="/seller/{{ seller.sellerId }}"
          >
            Connect to Shop<i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="recent-add-mob" style="margin-top:5%; margin-bottom: 8%">
  <div class="row">
    <hr />
    <h5 class="center">Recently Added Shops</h5>

    <div *ngFor="let seller of recentVendors" class="col s4">
      <div class="card">
        <div class="card-image">
          <img
            [lazyLoad]="'../../assets/openResto.jpg'"
            [defaultImage]="mainLazyImage"
            [useSrcset]="true"
          /><span class="card-badge green"
            ><i class="material-icons">school</i>New!!</span
          >
          <span id="recent-add-title-mob" class="card-title">{{
            seller.sellerName
          }}</span>
        </div>
        <div class="card-content">
          <p>
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively.
          </p>
        </div>
        <div class="card-action">
          <button
            id="bt-connect-shop"
            class="btn waves-effect waves-light black"
            type="submit"
            name="action"
            routerLink="/seller/{{ seller.sellerId }}"
          >
            Connect to Shop<i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="row">
  <div class="col s12">
    <h3>Gradient shadows under card titles</h3>
    <p>
      Add the class ".gradient" to a ".card-title" and it will recieve a
      gradient underlay to help it stand out from the background image.
    </p>
    <p>Hit the like button if you found this useful!</p>
  </div>
</div> -->
<!-- <div class="row">
  <div class="col s6 m4">
    <div class="card">
      <div class="card-image">
        <img src="https://placehold.it/373x249" />
        <span class="card-title flow-text gradient truncate"
          >Titled card (flow-text)</span
        >
      </div>
    </div>
  </div>
  
  <div class="col s6 m4">
    <div class="card">
      <div class="card-image">
        <img
          src="https://burst.shopifycdn.com/photos/view-looking-down-on-boat-at-sea_373x.progressive.jpg"
        />
        <span class="card-title gradient truncate">Titled card</span>
      </div>
    </div>
  </div>
  <div class="col s6 m4">
    <div class="card">
      <div class="card-image">
        <img
          src="https://burst.shopifycdn.com/photos/irish-flag-flying_373x.progressive.jpg"
        />
        <span class="card-title gradient truncate">Titled card</span>
      </div>
    </div>
  </div>
  <div class="col s6 m4">
    <div class="card">
      <div class="card-image">
        <img
          src="https://burst.shopifycdn.com/photos/oceanside-cliffs-of-ireland_373x.progressive.jpg"
        />
        <span class="card-title flow-text gradient truncate"
          >Titled card (flow-text)</span
        >
      </div>
    </div>
  </div>
  <div class="col s6 m4">
    <div class="card">
      <div class="card-image">
        <img
          src="https://burst.shopifycdn.com/photos/hand-holding-irish-wildflowers_373x.progressive.jpg"
        />
        <span class="card-title flow-text gradient truncate"
          >Titled card (flow-text)</span
        >
      </div>
    </div>
  </div>
</div> -->
