#main-row {
  margin-top: 5%;
  margin-bottom: 5%;
}
.col img {
  max-width: 100px;
  width: 100%;
  margin-bottom: 4%;
}

@media (min-width: 320px) and (max-width: 480px) {
  h6 {
    font-size: 0.87em;
  }
  .card-title {
    font-size: 1.5em;
  }
}
